# =========================
# PYTHON
# =========================
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# VARIABLES DE ENTORNO
# =========================
.env
.env.*
!.env.example

# =========================
# REACT / VITE
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
*.log